<%= form_for :animal, url: edit_animal_path do |f| %>

  <p>
    <%= f.label "Gatunek" %><br>
    <%= f.text_field :name, :value => Animal.find(params[:id]).name %>
  </p>

  <p>
    <%= f.label "Łacina" %><br>
    <%= f.text_field :latin, :value => Animal.find(params[:id]).latin %>
  </p>

  <p>
    <%= f.label "Gromada" %><br>
    <%=
      f.select :division,
      ['', 'Ssaki', 'Ptaki', 'Płazy', 'Gady', 'Ryby', 'Owady', 'Pajęczaki'],
      :selected => Animal.find(params[:id]).division
    %>
  </p>

  <p>
    <%= f.label "Opis" %><br>
    <%=
      f.text_area :desc,
      :value => Animal.find(params[:id]).desc.split.join(' '),
      size: "75x5"
    %>
  </p>

  <p>
    <%= f.submit "Zapisz Zwierze", class: "btn btn-success" %>
  </p>

<% end %>
