<%= form_for :animal, url: animals_path do |f| %>

  <p>
    <%= f.label "Gatunek" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label "Łacina" %><br>
    <%= f.text_field :latin %>
  </p>

  <p>
    <%= f.label "Gromada" %><br>
    <%= f.select :division, ['', 'Ssaki', 'Ptaki', 'Płazy', 'Gady', 'Ryby', 'Owady', 'Pajęczaki'] %>
  </p>

  <p>
    <%= f.label "Opis" %><br>
    <%= f.text_area :desc, size: "75x5" %>
  </p>

  <p>
    <%= f.submit "Zapisz Zwierze", class: "btn btn-success" %>
  </p>

<% end %>
