<%- model_class = Animal -%>

<% content_for :title, "AnimalApp: Home" %>

<h1>Zwierzęta</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr id="table1">
        <th>L.P.</th>
        <th>Gatunek</th>
        <th>Łacina</th>
        <th>Gromada</th>
        <th>Opis</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @animals.each_with_index do |animal, i| %>
        <tr>
          <td><%= (i+1) %></td>
          <td><%= animal.name %></td>
          <td><i><%= animal.latin %></i></td>
          <td><%= animal.division %></td>
          <td id="opis"><%= truncate(animal.desc, :length => 150) %></td>
          <td><%= link_to animal_path(animal.id),
                  method: :get,
                  class: "btn btn-xs" do %>
                <%= glyph 'info-sign' %>
              <%- end -%></td>
          <td><%= link_to edit_animal_path(animal.id),
                  method: :get,
                  class: "btn btn-xs" do %>
                <%= glyph 'pencil' %>
              <%- end -%></td>
          <td><%= link_to animal_path(animal.id),
                  method: :delete,
                  data: { confirm: "Jesteś pewien, że chcesz usunąć następującą pozycję?\n
                                    ID: " + animal.id.to_s + "
                                    GATUNEK: " + animal.name + "
                                    ŁACINA: " + animal.latin + "
                                    GROMADA: " + animal.division + "
                                    OPIS: " + truncate(animal.desc, :length => 25) },
                  class: "btn btn-xs" do %>
                <%= glyph 'remove' %>
              <%- end -%></td>
        </tr>
      <% end %>
    </tbody>
    <div align="right">
      <%= link_to 'Nowe zwierze', new_animal_path, class: 'btn btn-primary' %>
      <br/>
      <br/>
    </div>
  </table>
</div>
