<%- model_class = Animal -%>

<% content_for :title, "AnimalApp: Show " + @animal.id.to_s  %>

<h1>Zwierze nr <%= @animal.id %></h1>

<table class="table">
  <thead>
    <tr id="table2">
      <th>ID</th>
      <th>Gatunek</th>
      <th>Łacina</th>
      <th>Gromada</th>
      <th>Opis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @animal.id %></td>
      <td><%= @animal.name %></td>
      <td><i><%= @animal.latin %></i></td>
      <td><i><%= @animal.division %></i></td>
      <td id="opis"><%= @animal.desc %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edytuj', edit_animal_path(@animal), class: "btn btn-success" %>
<%= link_to 'Powrót', animals_path, class: "btn btn-primary" %>
