<% content_for :title, "AnimalApp: About" %>

<h1>O mnie</h1>
<h3>Mariusz Mazepa (zaliczenie)</h3>

<table class="table">
  <thead>
    <tr id="table3">
      <th>Ruby</th>
      <th>Rails</th>
      <th>Baza</th>
      <th>Framework</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2.4.0</td>
      <td>5.0.2</td>
      <td>
        <b>Lokalnie:</b> SQLite3<br/>
        <b>Heroku:</b> PostgreSQL
      </td>
      <td>Bootstrap</td>
    </tr>
  </tbody>
</table>

<p>
  Niniejsza aplikacja będzie wyświetlać dane z bazy zwierząt oraz
  umożliwiać zarządzanie nimi (dodawanie, edycja, usuwanie).
</p>

<h3>Użyte gemy</h3>
<table class="table">
  <thead>
    <tr id="table4">
      <th>L.P.</th>
      <th>Nazwa gemu</th>
      <th>Opis gemu</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Paperclip</td>
      <td>Przesyłanie plików, na przykład obrazków. <b>(faza testów)</b></td>
    </tr>
  </tbody>
</table>
