// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap-sprockets';
@import 'bootstrap';
body {
   padding-top: 75px;
}

#header {
  padding-top: 5px;
  padding-bottom: 5px;
}

#opis {
  text-align: justify;
}

img {
  opacity: 0.75;
}

img:hover {
  opacity: 1.0;
}

#table1 {
  background: darkgreen;
  background: -webkit-linear-gradient(0deg, darkgreen, lightgreen, white);
  background: -o-linear-gradient(0deg, darkgreen, lightgreen, white);
  background: -moz-linear-gradient(0deg, darkgreen, lightgreen, white);
  color: white;
}

#table2 {
  background: darkblue;
  background: -webkit-linear-gradient(0deg, darkblue, lightblue);
  background: -o-linear-gradient(0deg, darkblue, lightblue);
  background: -moz-linear-gradient(0deg, darkblue, lightblue);
  color: white;
}

#table3 {
  background: darkred;
  background: -webkit-linear-gradient(0deg, darkred, red, tomato);
  background: -o-linear-gradient(0deg, darkred, red, tomato);
  background: -moz-linear-gradient(0deg, darkred, red, tomato);
  color: white;
}

#table4 {
  background: purple, magenta, violet;
  background: -webkit-linear-gradient(0deg, purple, magenta, violet, pink);
  background: -o-linear-gradient(0deg, purple, magenta, violet, pink);
  background: -moz-linear-gradient(0deg, purple, magenta, violet, pink);
  color: white;
}
