<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav id="header">
      <%= link_to image_tag("rails.png", :alt => "ruby on rails", :size => '50x55'), '/' %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Strona Główna",  '/' %></li>
        <li><%= link_to "O mnie", '/about' %></li>
      </ul>
    </nav>
  </div>
</header>
